NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://building_os:building_os_password@localhost:5432/building_os_db?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET="change_this_access_secret_minimum_32_chars"
JWT_REFRESH_SECRET="change_this_refresh_secret_minimum_32_chars"

ENCRYPTION_KEY="change_this_encryption_key_32_chars"
